/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */


.peliculas-recomendadas h4 {
	color: #fff;
	font-size: 30px;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	padding-left: 10%;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.flecha-izquierda, .flecha-derecha {
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.flecha-izquierda:hover, .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.flecha-izquierda {
	left: 0;
}

.flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */

.carousel {
	display: flex;
	flex-wrap: nowrap;
}

.pelicula {
    margin: 5px;
	width: 320px;
	display: none;
}

.info-game{
	color: white;
	width: 320px;
	margin-top: 123px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	box-shadow: var(--primario) 0px -60px 36px -28px inset;
}
.info-game *{
	margin: 2px;
}
.info-game h3{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: 7px;
}
.info-game p{
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 7px;
}

.pelicula img {
    border-radius: 10px;
	width: 320px;
    height: 190px;
	vertical-align: top;
	object-fit: cover;
}

.active{
	display: block;
}