.linkBtn{
    text-decoration: none;
    color: white;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.content-modal{
    color: white;
    width: 100%;
    height: 150px;
    max-width: 600px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}
.active-modal{
    display: flex;
}
.close-modal{
    display: flex;
    justify-content: right;
}
.close-modal i{
    cursor: pointer;
}
.cuatroEnLinea{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title-juego{
    display: flex;
    justify-content: center;
    color: white;
}
.img-cuatroEnLinea{
    width: 100%;
}
.img-cuatroEnLinea img{
    width: 250px;
    border-radius: 20px;
    opacity: 50%;
}
.buttons-juego{
    display: flex;
    justify-content: center;
}
.buttons-juego *{
    margin: 10px;
    width: 50%;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 2px rgba(0,0,0,0.5);
    color: white;
}
.jugar{
    background-color: var(--primario);
}
.comoJugar{
    background-color: var(--acento);
}
.compartir{
    display: flex;
    justify-content: center;
}
.compartir h4{
    cursor: pointer;
}

.videos-juego{
    display: flex;
    justify-content: center;
}
.video{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    cursor: pointer;
}
.video img{
    width: 70%;
    margin: 10px;
    opacity: 50%;
    object-fit: cover;
}
.play{
    display: flex;
    justify-content: center;
    margin-top: 23%;
    position: absolute;
    font-size: 30px;
}
.foro{
    margin: 10px;
    color: white;
}
.zona-comentar{
    margin-top: 5%;
}
.zona-comentar *{
    margin: 10px;
    color: white;
}
.zona-comentar input{
    margin-top: -15%;
    height: 25px;
    width: 70%;
}

.comentarios{
    padding: 15px;
}
.comentarios *{
    margin-top: 10px;
}
.container-comentario{
    display: flex;
}
.img-comentario{
    width: 35%;
    margin-right: -20%;
}
.img-comentario img{
    width: 47px;
    height: 47px;
    border-radius: 100%;
}
.info-comentario{
    color: white;
}
.info-comentario *{
    margin: 5px;
}
.name-fecha{
    display: flex;
    font-size: 20px;
}
.fecha{
    margin-left: 10px;
    font-size: 12px;
    color: gray;
}

.container-historia{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-historia{
    color: white;
}

.cards-historia{
    display: flex;
    flex-direction: row;
}

.card-historia{
    margin: 10px;
    background-color:#363a49;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.section-historia{
    width: 350px;
    height: 200px;
}

.history-text{
    color: white;
    margin: 15px;
    font-size: 14px;
}

.title-card-history{
    margin: 15px;
    color: white;
}

.section-cards{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.section-gallery{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.section-gallery img{
    width: 400px;
}

nav{
    position: relative;
    margin-top: auto;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li{
    display: inline;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
}

.menu a:hover{
    color: #ffffffb9;
}

.section-gallery ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
}

ul.slider img{
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    width: 400px;
    height: 380px;
    top: 15px;
}

ul.slider img:first-child{
    opacity: 1;
}

ul.slider img:target{
    opacity: 1;
}
@media only screen and (min-width:1024px){
    .img-cuatroEnLinea img{
        width: 600px;
        border-radius: 20px;
        opacity: 50%;
    }
    .buttons-juego *{
        height: 40px;
    }
    .foro{
        padding: 5%;
        margin-bottom: -10%;
    }
    .zona-comentar{
        padding: 5%;
        margin-bottom: -5%;
        font-size: 25px;
    }
    .zona-comentar input{
        margin-top: 10px;
        height: 50px;
        border-radius: 10px;
    }
    .comentarios{
        padding: 5%;
    }
    .img-comentario{
        margin-top: auto;
        margin-right: -29%;
    }
    .img-comentario img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        /* border-radius: 150px; */
    }
    .info-comentario{
        margin-top: 20px;
    }
    .info-comentario *{
        margin: 10px;
    }
}