.contenedor{
    display: flex;
    max-height: auto;
    width: 100%;
    background-color: var(--primarioA2);
}
.logo{
    display: flex;
    margin: 5px;
}
.img-logo{
    width: 30px;
    height: 100%;
    border-radius: 10px;
}
.container-search{
    margin-top: 8px;
    margin-left: 10px;
}
.search{
    width: 60%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding-left: 30px;
}