@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --primario: #333F77;
    --secundario: #483177;
    --acento: #285C6D;
    --primarioA1: #334077e5;
    --secundarioA1: #334077e5;
    --acentoA1: #333F77e5;
    --primarioA2: #334077c0;
    --secundarioA2: #334077c0;
    --acentoA2: #333F77c0;
    --primarioA3: #334077bd;
    --secundarioA3: #334077bd;
    --acentoA3: #333F77bd;
}

body{
    background-color: var(--primarioA3);
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
}



/* Footer */
footer{
    position: absolute;
    bottom: 0;
    background-color: var(--primario);
    width: 100%;
    padding: 1em 0;
    font-size: 11px;
}

.contenedorFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulos{
    color: #ffff;
}

.item{
    width: 100px;
    flex-direction: column;
}

.items{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logoFooter{
    width: 50px;
    height: 50px;
}

.seccion-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red{
    margin: 3px;
}

.pago{
    color: black;
}